#include <windows.h>
#include <audioplugin/glue/pluginfo.hpp>

#define APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Version
/////////////////////////////////////////////////////////////////////////////
VS_VERSION_INFO VERSIONINFO
 FILEVERSION PLUGIN_VERSION_MAJOR_INT,PLUGIN_VERSION_SUB_INT,PLUGIN_VERSION_RELEASE_INT,PLUGIN_VERSION_BUILD_INT
 PRODUCTVERSION PLUGIN_VERSION_MAJOR_INT,PLUGIN_VERSION_SUB_INT,PLUGIN_VERSION_RELEASE_INT,PLUGIN_VERSION_BUILD_INT
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004e4"
        BEGIN
            VALUE "FileVersion",      PLUGIN_VERSION"\0"
            VALUE "ProductVersion",   PLUGIN_VERSION"\0"
            VALUE "OriginalFilename", PLUGIN_FILENAME"\0"
            VALUE "FileDescription",  PLUGIN_FILEDESC"\0"
            VALUE "InternalName",     PLUGIN_FILEDESC"\0"
            VALUE "ProductName",      PLUGIN_FILEDESC"\0"
            VALUE "CompanyName",      PLUGIN_COMPANY"\0"
            VALUE "LegalCopyright",   PLUGIN_COPYRIGHT"\0"
            VALUE "LegalTrademarks",  PLUGIN_LEGAL"\0"
            //VALUE "PrivateBuild",     " \0"
            //VALUE "SpecialBuild",     " \0"
            //VALUE "Comments",         " \0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END
